{%load static%}

<h1>Home</h1>

<span>{% if request.user.is_authenticated %}
   <img src={{userP.avatar.url}}/><a class="nav-link text-black font-weight-bold" href="{% url 'profile' %}">{{userP.company_name}}</a>| <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
{% else %}
   <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a> | <a class="nav-link text-black font-weight-bold" href="{% url 'register' %}">Register</a>
{% endif %}</span>