<!DOCTYPE html>
<html>
   <head>
      <style>
         .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            }
      </style>
   </head>
{%load static%}
   <body>
      <h1>Home</h1>

      <span>{% if request.user.is_authenticated %}
         <img src={{userP.avatar.url}}/>
         <a class="nav-link text-black font-weight-bold" href="{% url 'profile' %}">{{userP.name}}</a>| <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
         <form action="{% url 'upload' %}">
            <button type="submit" class="button">Upload Package</button>
         </form>
      {% else %}
         <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a> | <a class="nav-link text-black font-weight-bold" href="{% url 'register' %}">Register</a>
      {% endif %}</span>
   </body>
</html>
