<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/StyleSheets/Packages_StyleSheet.css" /> 

<body>
    <img width="300" src={{userP.avatar.url}}/>
    <p>{{userP.name}}'s profile</p>

    {% if request.user.username == user.username %}
    <form action="{% url 'editprofile' %}">
        <button type="submit" class="button">View Details</button>
    </form>
    {%endif%}

    <h2>Packages</h2>
    <div class="mx-auto position-relative gallery-container">
    <div class="mx-auto tm-border-top gallery-slider">

        {%for package in user_packages %}
        <figure class="effect-julia item">
            <img src={{package.packageThumbnail.url}}/>
            <figcaption>
                <div>
                    <p>{{package.packageName}}</p>
                </div>
                <a href="#">View Package</a>
            </figcaption>
        </figure>
        {% endfor %}
    </div>
</body>
</html>