<!DOCTYPE html>
<html lang="en">

{%load static%}
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'StyleSheets/General.css' %}"/> 
        <link rel="stylesheet" href="{% static 'StyleSheets/Profile.css' %}"/> 
        <link rel="stylesheet" href="{% static 'StyleSheets/Package_Items.css' %}"/> 
        <link rel="stylesheet" href="{% static 'StyleSheets/Package_Info.css' %}"/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

<body>
    <div class="page-container">
        <div class="container-fluid">
            <div class="cd-hero-slider mb-0 py-5">
            <div class="px-5">
            
            
            <!-- Profile Info -->
            <center>
                <img class="vendor-img img-circle" src= {{userP.avatar.url}}></a>
                <h1 class="media-heading vendor-name"> {{userP.name}}</h1>
                {% if request.user.is_authenticated and request.user.username == user.username %}
                <form action="{% url 'editprofile' %}">
                    <button type="submit" class="button btn btn-link">Edit Profile</button>
                </form>
                {%endif%}
            </center>
            <hr class="break-line"><br>

            <!-- List of packages -->
            <div class="mx-auto position-relative gallery-container">
                <div class="mx-auto p-gallery gallery-slider">       
                    
                    {% for package in user_packages %}
                    <figure id="packages-img-container" class="effect-julia item my-img-container">
                        <img src={{package.packageThumbnail.url}}>
                            <figcaption>
                                <center>
                                <div>
                                    <p>{{package.packageName}}</p>
                                </div>
                            </center>

                                <a href="{% url 'package' package.id %}">View Package</a>
                            
                            </figcaption>
                    </figure>
                    {% endfor %}     
                
                </div>
            </div> 
        </div>
        </div>
        </div>
    </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>