html, body, .page-container {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: white;
    line-height: 1.5;
}

a {
    color: #9F6;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #3CF;
}

p {
    line-height: 1.7;
}

h2 {
    font-size: 1.8rem;
}

.highlight {
    color: #262a24;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.container-fluid {
    max-width: 1860px;
}

.btn {
    font-size: 1.3rem;
    padding: 13px 23px;
    border-radius: 0;
}

.btn-primary {
    background-color: white;
    border: none;
    color: #333;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #5cac38;
    background-color: white;
}
