#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.card {
    background-color: white;
    transition : transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .20);    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50px;
    border: 10;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}